@model DiveBuddy.PhotosModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhotosModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buisness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buisness.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
