@model DiveBuddy.BuisnessModel

@{
    ViewData["Title"] = "Details";
    var imageCounter = 0;
}
  <section id = "top">
    <h1 class = "t">@Model.Title</h1> 
     <div class = "buttons">

       <a asp-controller="Reviews" asp-action="Create" asp-route-id=@Model.Id class="btn btn-primary">Write a Review</a>
       <a asp-controller="Photos" asp-action="Create" asp-route-id=@Model.Id class="btn btn-primary">Add Photo</a>
     </div>
  </section>
                        <!-- POSTING PICS --> 
  <section class = "pix">
    @foreach (var image in Model.Photos)
    {  
         <img src="~/uploads//images/@image.Url" />  
    }  
  </section>

  <section id = "bottom">  
    <section class = "locationInfo2">
     <div class="address2">
        <h4>@Model.Address</h4>  <!--bc it's not in the loop--> 
        <h4>@Model.City</h4>
        <h4>@Model.PhoneNbr</h4>
        <h4>Directions here</h4>
     </div>
  </section>
    @foreach (var item in Model.Reviews)
{
  <section id="reviewsAndStars">
    <div class="stars2">
        
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 

        <h4 id="revs">@item.Review</h4>
  </section>
}
 </section>

